.marquee-container {
    overflow: hidden;
}

.marquee-text {
    animation: scroll-left 20s linear infinite;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    white-space: nowrap;

}


@keyframes scroll-left {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
