.zoom-in-out-box {
    height: 590px;

}
@media screen and (max-width: 520px){
    .zoom-in-out-box {
        height: 300px;
    
    } 
}
.zoom-in-out-box img{
    animation: zoom-in-zoom-out 11s ease infinite;
    height:100%
  

  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }